<!DOCTYPE html>
<html lang="{{@site.lang}}">

  {{!-- (Ghost) Main: Content from index.hbs, page.hbs, etc  --}}
  {{body}}

  {{!-- (Ghost) Partial: Site foooter with navigation --}}
  {{site-footer}}

  {{!-- (Ghost) System-required closing tag --}}
  {{ghost_foot}} {{!-- *** NO ADDITIONAL CONTENT BELOW THIS LINE *** --}}

</body>
</html>