<!DOCTYPE html>
<html lang="{{@site.lang}}">

<head>

  <!-- DOCUMENT SETTINGS -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- DOCUMENT METADATA -->
  <title>{{meta_title}}</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- TODO: Create and reference various favicon links and metatags -->

  <!-- CASCADING STYLE SHEETS -->
  <!-- (Bootstrap) Importing minified Bootstrap 5.0.0 CSS from official CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <!-- Importing custom styles from optimized CSS files in Assets directory -->
  <link rel="stylesheet" href="assets/css/starter.css">

  <!-- WEB FONT REFERENCES -->
  <!-- (Google Fonts) Inter -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap" rel="stylesheet">

  <!-- ADDITIONAL METADATA -->
  {{!-- (Ghost) Metadata: SEO tags, additional system config --}}
  {{ghost_head}}

</head>

<body>

  {{{body}}}
  
  {{> site-footer}}

</body>
</html>