{{!< default}}


{{#post}}

<main id="site-main" role="main" class="flex-shrink-0">

  <div class="container mt-5 text-dark">
    <article class="{{post_class}}">
      <h1 class="title mt-5 mb-4"><mark>{{title}}</mark></h1>
      <p>{{content}}</p>
    </article>
  </div>
  
</main>

{{/post}}